.announcements_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.announcements_card{
    box-shadow: 0 2px 5px rgba(30, 58, 138, 0.6);
}
.dark_mode .announcements_card{
    box-shadow: 0 2px 5px rgba(255, 191, 0, 0.6);
}
.ann_header{
    background: var(--light-gray);
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    align-items: center;
}
.dark_mode .ann_header{
    background: var(--dark-charcoal);
    color: #bcb4b4;
}
.ann_header p{
    all: unset;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: small;
}
.ann_body{
    background: var(--very-light-gray);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.dark_mode .ann_body{
    background: var(--lighter-charcoal);
}
.ann_body h3{
    color: var(--primary-color);
}
.dark_mode .ann_body h3{
    color: var(--secondary-color);
}
.ann_body p{
    color: var(--dark-charcoal);
}
.dark_mode .ann_body p{
    color: #bcb4b4;
}