.footer {
    grid-area: footer;
    background-color: darkgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
}
