* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root {
    /* Soft Blue Gray (#20232a or rgb(32, 35, 42)): */
    /* Color Pallette */
    --navy: #1e3a8a;
    --amber: #ffbf00;
    
    --sky-blue: #60a5fa;
    --mint-green: #10b981;
    --light-gray: #f4f4f4;
    --charcoal: #2e2e2e;
    --dark-gray: #20232a;
    --soft-white: #e5e7eb;
    --cool-gray: #9ca3af;

    /* Colors */
    
    --primary-color: var(--navy);
    --secondary-color: var(--amber);

    --site-name: var(--secondary-color);
    
    --bg-active: var(--secondary-color);
    --bg-sidebar: #f4f4f9;
    --bg-main:#f4f4f9;
    --bg-hover: var(--primary-color);
    --bg-active-submenu: var(--primary-color);

    --text-hover: var(--secondary-color);
    --text-active: var(--primary-color);
  

    --sb-text-color: var(--primary-color);
    --sb-box-shadow: 1px 2px 5px rgba(255, 191, 0, 0.5);
    --sb-text-active-sub-menu: #fff;
    --sb-bg-active-sub-menu: var(--primary-color);


    /* main contents */
    --sub-header-text: var(--primary-color);
    --sub-text : var(--dark-gray);
     /* Fonts Sizes*/
     
     --icon-size: 1.1rem;
     --font-size-medium: 1.2rem;
     --font-size-large: 1.3rem;

    /* Layout */
    --header-height: 50px;
    --footer-height: 50px;

    /* Sidebar Layout */
    --width-side-min: 60px;
    --width-side-max: 210px;
    --sb-item-heigth: 40px;

   

    /* Transitions */
    --transition-width: width 0.2s ease;
}

.dark-mode {
    --dark-navy: #12172b;

    --bg-sidebar: var(--dark-navy);
    --bg-active: var(--primary-color);
    --text-active: var(--secondary-color);

    --sb-text-color: #fff;

    --sb-text-active-sub-menu: #fff;
    --sb-bg-active-sub-menu: var(--primary-color);

    --bg-main:#20232a;

    /* main contents */
    --sub-header-text: var(--secondary-color);
    --sub-text : var(--light-gray);
}

body {
    display: grid;
    grid-template-columns: var(--width-side-min) auto;
    /* Sidebar + Main Content */
    grid-template-rows: var(--header-height) auto var(--footer-height);
    /* Header + Main + Footer */
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar footer";
    height: 100%;
    transition: all 0.2s ease;
    background: var(--primary-color);
}
body.menu_expand {
    grid-template-columns: var(--width-side-max) auto;
    height: 100%;
}

/* mobile view */

@media (max-width: 678px) {
    body {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        /* Prevent horizontal scroll */
        height: 100%;
    }
    /* body {
        grid-template-columns: 1fr;
    } */
}