.teams-header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sub-header-text);
    padding-bottom: 10px;
    /* border-style: dashed; */
}
.teams-header h2{
    color: var(--sub-header-text);
}
.main_content p{
    color: var(--sub-text);
}
.teams-header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0px 12px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.teams-header button:hover {
    background-color: #0056b3;
}

.teams-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(30, 58, 138, 0.6);
}
.teams-table th,
.teams-table td {
    padding: 10px;
    border: 1px solid var(--primary-color);
    text-align: left;
}
.dark-mode .teams-table th,
.dark-mode .teams-table td {
    border: 1px solid var(--secondary-color);
}
.teams-table th {
    background-color: var(--primary-color);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}
.dark-mode .teams-table th {
    background-color: var(--secondary-color);
}   
.dark-mode .teams-table td{
    background-color: var(--primary-color);
    color: #fff;
}

.teams-table button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.teams-table button:hover {
    background-color: #218838;
}

.teams_footer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
    
}
.teams_footer button{
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0px 12px;
    height: 30px;
}
.teams_footer .edit_btn{
    background-color: green;
}
.teams_footer .delete_btn{
    background-color: red;
}